  * {
      margin: 0;
      padding: 0;
  }
  
  body {
      display: flex;
      justify-content: center;
  }
  
  .cell {
      border: 1.5px solid green;
      border-style: inset;
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 1;
  }
  
  .blackcell {
      background-color: black;
  }
  
  .whitecell {
      background-color: white;
  }
  
  .container {
      background-color: black;
      width: 500px;
      height: 500px;
      display: flex;
      flex-direction: column;
      background-color: purple;
      justify-content: center;
      align-content: stretch;
  }
  
  .row {
      display: flex;
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 1;
  }